@{
    ViewData["Title"] = "Sayfa Bulunamadı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Title{
<title>Sayfa Bulunamadı</title>
}
@section KeywordsandDescription{
    
}

<div id="content">

    <div class="page-404-section">

        <div class="container">

            <h1 class="title">404</h1>
            <p class="text-size-big">Üzgünüz ancak aradığınız sayfayı bulamıyoruz.</p>
            <p>
                Bu durum muhtemelen bizim hatamızdan kaynaklanıyor. Hatamızın farkındayız ve<br>
                en kısa sürede hatamızı gidermeye çalışacağız.<a asp-controller="Home" asp-action="Index" class="link-text"> Ana Sayfa</a>'ya dönerek işlemlerinize devam edebilirsiniz. 
            </p>
        </div>

    </div>

</div>