
@{
    ViewData["Title"] = "InsertStudio";
    Layout = "~/Views/Panel/_adminLayout.cshtml";
}
@section AdditionalCss{

    <link rel="stylesheet" href="~/css/dateTimePicker/daterangepicker.css">
    <link rel="stylesheet" href="~/css/dateTimePicker/tempusdominus-bootstrap-4.min.css">

}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Mekan Ekle</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Panel" asp-action="Index">Panel</a></li>
                    <li class="breadcrumb-item active">Mekan Ekle</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">

                <div class="card" style="background-color:#CCCCFF">
                    <div class="card-header">
                        <h3 class="card-title font-weight-bold">Yeni Mekan</h3>
                    </div>


                    <form>
                        <div class="card-body">
                            <!-- - - - - - - - - - - - - - LocationName Email Phone - - - - - - - - - - - - - - - - -->
                            <div class="container" style="background-color:aliceblue; margin-left:0; margin-bottom:10px;">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="input_mekan_adi" style="padding:10px;">Mekan Adı</label>
                                            <input type="text" class="form-control form-control-border border-width-2" name="LocationName" id="input_location_name" placeholder="Mekan İsmi Giriniz...">
                                        </div>
                                    </div>
                                    <div class="col-3">

                                        <div class="form-group">
                                            <label style="padding:10px;">Email</label>
                                            <input type="email" class="form-control form-control-border border-width-2" name="Email" id="input_email" placeholder="Email Adresinizi Giriniz...">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label style="padding:10px;">Telefon</label>
                                            <input type="email" class="form-control form-control-border border-width-2" name="PhoneNumber" id="input_phone" placeholder="Telefonunuzu Giriniz...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- - - - - - - - - - - - - - City Address MapsLink - - - - - - - - - - - - - - - - -->
                            <div class="container" style="background-color:lavender; margin-left:0; margin-bottom:10px;">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="input_city" style="padding:10px;">Şehir</label>
                                            <input type="text" class="form-control form-control-border border-width-2" name="City" id="input_city" placeholder="Şehir Giriniz...">
                                        </div>
                                    </div>
                                    <div class="col-6">

                                        <div class="form-group">
                                            <label style="padding:10px;">Address</label>
                                            <textarea row="3" type="text" class="form-control form-control-border border-width-2" name="Address" id="input_address" placeholder="Adres Giriniz..."></textarea>                                            
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="input_google_maps" style="padding:10px;">Haritalar Link</label>
                                            <input type="url" class="form-control form-control-border border-width-2" name="GoogleMapsLink" id="input_google_maps" placeholder="Google Haritalar Linkini Giriniz..."></input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- - - - - - - - - - - - - - Description - - - - - - - - - - - - - - - - - - -  - - -->
                            <div class="container" style="background-color:aliceblue; margin-left:0; margin-bottom:10px;">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label style="padding:10px;">Açıklama</label>
                                            <textarea row="3" type="text" class="form-control form-control-border border-width-2" name="Description" id="input_description" placeholder="Stüdyonuzu Anlatan Açıklama Giriniz..."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- - - - - - - - - - - - - - Working Hours - - - - - - - - - - - - - - - - - -  - - -->
                            <div class="container" style="background-color:aliceblue; margin-left:0; margin-bottom:10px;">
                                <div class="row">
                                    <h4>Çalışma Saatleri</h4>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="input_starting_day" style="padding:15px;">Başlangıç Günü</label>
                                            <select id="input_starting_day" >
                                                <option>Gün Seçiniz</option>
                                                <option>Pzts</option>
                                                <option>Salı</option>
                                                <option>Çrşmb</option>
                                                <option>Perş</option>
                                                <option>Cuma</option>
                                                <option>Cmts</option>
                                                <option>Pazr</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="input_ending_day" style="padding:15px;">Bitiş Günü</label>
                                            <select id="input_ending_day">
                                                <option>Gün Seçiniz</option>
                                                <option>Pzts</option>
                                                <option>Salı</option>
                                                <option>Çrşmb</option>
                                                <option>Perş</option>
                                                <option>Cuma</option>
                                                <option>Cmts</option>
                                                <option>Pazr</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="bootstrap-timepicker">
                                            <div class="form-group">
                                                <div class="input-group date timepicker_days" id="timepicker_starting_hour" data-target-input="nearest">
                                                    <label for="input_starting_hour" style="padding:10px;">Açılış Saati</label>
                                                    <input type="text" class="form-control datetimepicker-input time-range" id="input_starting_hour" data-target="#timepicker_starting_hour" />
                                                    <div class="input-group-append" data-target="#timepicker_starting_hour" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="bootstrap-timepicker">
                                            <div class="form-group">
                                                <div class="input-group date timepicker_days" id="timepicker_ending_hour" data-target-input="nearest">
                                                    <label for="input_closed_hour" style="padding:10px;">Kapanış Saati</label>
                                                    <input type="text" class="form-control datetimepicker-input time-range" id="input_closed_hour" data-target="#timepicker_ending_hour" />
                                                    <div class="input-group-append" data-target="#timepicker_ending_hour" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="text" class="hidden" name="WorkingHours" id="workingHoursSum">

                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn" id="gonder" style="background-color:aliceblue;font-weight:bold;">Gönder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</section>

@Html.Partial("confirmationAndErrorModals")


@section AdditionalScripts
    {


    <script src="~/js/dateTimePicker/daterangepicker.js"></script>

    <script src="~/js/dateTimePicker/tempusdominus-bootstrap-4.min.js"></script>

    <script>

        var alertParagraph = '';


        $('#gonder').on('click', function () {
            event.preventDefault();

            continueExecution = true;

            if (!continueExecution) {
                return;
            }

            if ($('#input_location_name').val() === '') {
                alertParagraph += '<p>Stüdyo Adı Boş Olamaz.<br></p>';
            }
            if ($('#input_mail').val() === '') {
                alertParagraph += '<p>Mail Boş Olamaz.<br></p>';
            }
            if ($('#input_phone').val() === '') {
                alertParagraph += '<p>Telefon Boş Olamaz.<br></p>';
            }
            if ($('#input_city').val() === '') {
                alertParagraph += '<p>Şehir Boş Olamaz.<br></p>';
            }
            if ($('#input_address').val() === '') {
                alertParagraph += '<p>Adres Boş Olamaz.<br></p>';
            }
            if ($('#input_google_maps').val() === '') {
                alertParagraph += '<p>Google Haritalar Boş Olamaz.<br></p>';
            }

            var workingHours = $('#input_starting_day').val() +
                                '-' +
                                $('#input_ending_day').val() +
                                ' ' +
                                $('#input_opening_hour').val() +
                                ':' +
                                $('#input_closing_hour').val();

            $('#workingHoursSum').val(workingHours);

            var location = $('form').serialize();
            
            $.post('/Panel/InsertKursData', location, function (response) {
                
                if (response.success) {
                    
                    alert('Mekan Başarıyla Kaydedildi.');
                } else {
                    
                    alert('Mekan Oluşturulurken Hata İle Karşılaşıldı.');
                }
            });

        });



    </script>
}

